@font-face {
  font-family: 'FiraLight';
  src: url('/src/Fonts/FiraSansLight/FiraSansLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'FiraMedium';
  src: url('/src/Fonts/FiraSansMedium/FiraSansMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}