<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
  <script src="https://api-maps.yandex.ru/2.1/?apikey=55f217fc-e9c9-486c-b2a6-9c52e927eb85&lang=ru_RU" type="text/javascript">
  </script>
</head>
<body>
    <div class="wrapper">
        <div class="map" id="map">
            <div class="popup">
                <div class="popup__header">
                    <img src="./src/image/marker.svg" alt="" class="popup__marker">
                    <h4 class="popup__headertext">Lorem ipsum dolor sit amet.</h4>
                    <button class="popup__cross"></button>
                </div>
                <div class="popup__description"></div>
                <form action="" class="form">
                    <div class="form__headertext">Ваш отзыв</div>
                    <div class="form__row">
                        <input placeholder="Ваше имя" class="form__input" type="text" name="yourname"/>
                    </div>
                    <div class="form__row">
                        <input placeholder="Укажите место" class="form__input" type="text" name="yourplace"/>
                    </div>
                    <div class="form__row">
                        <textarea class="form__text" placeholder="Поделитесь вашими впечатлениями" name="yourfeedback"/></textarea>
                    </div>
                     <div class="form__button">
                        <input class="btn" type="submit" value="Добавить" />
                    </div>
                </form>
            </div>
            
        </div> 
    </div>
</body>
</html>
